* {
  margin: 0;
  padding: 0;
}
.card-principal {
  display: block;
}

.card-header {
  background-color: rgb(177, 177, 13);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 24px;
  justify-content: space-between;
}
.menu-label {
  cursor: pointer;
}
.card-header > p {
  font-size: 24px;
}

#input-pesquisa {
  border-radius: 12px;
  height: 30px;
  padding: 5px 5px 3px 30px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100vh;
}

.section-1,
.section-2 {
  background-color: gray;
  padding: 24px;
  width: auto;
  height: auto;
  margin: 24px;
  border-bottom: 1px solid red;
}

.section-1 > h1,
.section-2 > h1 {
  color: #a5147d;
}

.image {
  max-width: 200px;
}

img {
  width: 359px;
  height: 202px;
}
